.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 100px;
  margin-top: 20px;
  content: url('https://res.cloudinary.com/glaserbw/image/upload/v1551940892/toothy.png');
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  font-size: 48px;
  color: #BADA55;
  font-family: 'Brush Script MT'
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: chartreuse;
  color: tomato;
  font-size: 26px;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: hotpink;
}

h1 {
  font-family: 'Comic Sans MS'
}

.subtext {
  font-family: 'Brush Script MT';
  font-size: 22px;
  color: pink;
}

.image img {
  max-width: 300px;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
